<h2>Bestätigungsmail erneut zusenden</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "pure-form pure-form-stacked" }) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, class: "pure-u-1-3" %></div>

  <%= f.submit "Mail mit Anweisungen erneut zuschicken", class: "pure-button pure-button-primary" %></fieldset>
<% end %>
<br>
<%= render "devise/shared/links" %>
