<h2>Daten einsehen und ändern</h2>
<div class="hero">
	<p>Auf dieser Seite kannst du deine Informationen und gewählten Workshops einsehen und ändern.<br>
	Du kannst uns auch Anmerkungen über das entsprechende Feld mitteilen.</p>
	<p>Klick bitte nach dem Anpassen der Einstellungen unten auf "Informationen speichern".
	</p>
</div>
<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put, :class => "pure-form pure-form-aligned" }) do |f| %>

<h4><a href="#preferences" class="toggle pure-button pure-button-small">Zusätzliche Infos</a></h4>
<div id="preferences">
	<fieldset>
		<div class="pure-control-group"><%= f.label :vegetarian %>
		  <%= f.select :vegetarian, [["nein", false], ["ja", true]] %>
		</div>
		<div class="pure-control-group"><%= f.label :allergic %>
		  <%= f.select :allergic, [["nein", false], ["ja", true]] %>
		</div>
		<div class="pure-control-group"><%= f.label :muslim %>
		  <%= f.select :muslim, [["nein", false], ["ja", true]] %>
		</div>
		<div class="pure-control-group"><%= f.label :field_bed %>
		  <%= f.select :field_bed, [["ja", true], ["nein", false]] %>
		</div>
		<div class="pure-control-group"><%= f.label :arrival_via %>
		  <%= f.select :arrival_via, [["Fahre selbst", 'self'], ["Mitfahrer im Auto eines anderen", 'with_someone_else'], ["Bus oder Bahn", 'public_transport']], include_blank: true %>
		</div>
		<div class="pure-control-group"><%= f.label :arrival_wednesday %>
		  <%= f.select :arrival_wednesday, [["ja", true], ["nein", false]] %>
		</div>
		<div class="pure-control-group"><%= f.label :comment %>
		  <%= f.text_area :comment %>
		</div>
	</fieldset>
</div>

<h4><a href="#workshops" class="toggle pure-button pure-button-small">Workshops</a></h4>
<div id="workshops" class="hide">
		
		<table style="font-size: 80%;" class="pure-table pure-table-horizontal pure-table-striped">
		    <thead>
		        <tr>
		            <th>Slot</th>
		            <th>gewählter Workshop/Event</th>
		        </tr>
		    </thead>

		    <tbody>
			  <% Timeslot.order("start_time asc").each do |slot| %>
		        <tr>
		            <td><b><%= slot.name %></b></td>
		            <td>
							<% regs = current_user.registrations.joins(:event).where("events.timeslot_id = ?", slot.id).order(:priority) %>
							<% unless regs.blank? %>
							<ul>
								<% regs.each do |r| %>
									<li><%= link_to r.event.name, r.event %> (Prio: <%= r.priority %>)</li>
								<% end %>
							</ul>
							<% else %>
								noch kein Event ausgewählt. Wähle <%= link_to "hier", events_path %> ein Event aus.
							<% end %>
					</td>
				</tr>
			  <% end %>
			</tbody>
		</table>
	
	<p><small>Workshop wechseln? Klicke auf den gewählten Workshop um dich abzumelden. Dann kannst du für den Slot einen anderen Workshop wählen.</small></p>
</div>

<h4><a href="#food" class="toggle pure-button pure-button-small">Essen Samstag Abend</a></h4>
<div id="food" class="hide">
	<fieldset>
		<div class="pure-control-group"><%= f.label :food_saturday %>
		  <%= f.select :food_saturday, [["Burger Point - Burger", "Burger Point"], ["Pizza Toni - Pizza", "Pizza Toni"], ["Wok To Go - Reis, Nudeln, Gemüse", "Wok To Go"], ["Döner Can - Döner", "Döner Can"]], include_blank: true %>
		</div>
	</fieldset>
	<p>
		<small><em>Hinweis:</em> Bis auf Burger Point bieten alle Imbisse auch vegetarische Gerichte an.<br>Links zu der genauen Adresse der Imbisse folgen zeitnah.</small>
	</p>
</div>

<h4><a href="#payment" class="toggle pure-button pure-button-small">Teilnehmerbeitrag</a></h4>
<div id="payment" class="hide">
	<p style="font-size:80%;">Die Teilnahme an der Bundesfachschaftenkonferenz erfordert einen <b>Teilnehmerbeitrag in H&ouml;he von 70&euro;</b>. Dieser setzt sich zusammen aus einer Teilnehmergeb&uuml;hr in H&ouml;he 
	von 50&euro;, welchen die ausrichtende Fachschaft zur Finanzierung der BuFaK erh&auml;lt 
	und 20&euro; Ratsbeitrag, welcher an den BuFaK-Rat weitergeleitet wird, um die repr&auml;sentativen 
	Pflichten von selbigem zu erm&ouml;glichen.</p>
	<% if current_user.invoice_paid %>
		<p><b>Wir haben deinen Teilnehmerbeitrag am <%= l current_user.invoice_paid %> erhalten</b>. Vielen Dank!</p>
	<% else %>
		<p><b>Wir haben von dir noch keinen Zahlungseingang festgestellt. Bitte &uuml;berweis den Betrag (70&euro;) bis zum 8. November </b>
			<%= '<span style="color:red;">(bereits verstrichen, melde dich bitte bei uns) </span>'.html_safe if Time.now > Time.local(2013, 11, 8) %>
		auf folgendes <a href="bank://singlepayment?name=HG%20WINFO&reason=<%= URI.escape("#{current_user.firstname} #{current_user.lastname} #{current_user.email}").html_safe %>&account=8837961601&bnc=47260121&amount=70%2C00">Konto</a>:<p>
		<p>Kontoinhaber: HG Winfo<br>
		Kontonummer: 8837961601<br>
		Bankleitzahl: 47260121<br>
		Volksbank Paderborn-H&ouml;xter-Detmold eG<br>
		IBAN: DE06 4726 0121 8837 9616 01<br>
		BIC: DGPBDE3M<br><br>
		Als Referenz gib bitte deinen <b>Nachnamen</b>, <b>Vornamen</b> und die <b>E-Mailadresse</b> an.</p>
	<% end %>
</div>




<h4><a href="#personal" class="toggle pure-button pure-button-small">Persönliche Infos</a></h4>
<div id="personal" class="hide">
  <%= devise_error_messages! %>

 <fieldset>
  <div class="pure-control-group"><%= f.label :firstname %>
  <%= f.text_field :firstname, :autofocus => true %></div>

  <div class="pure-control-group"><%= f.label :lastname %>
  <%= f.text_field :lastname %></div>

  <div class="pure-control-group"><%= f.label :email %>
  <%= f.email_field :email %></div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Es wird auf eine Bestätigung von folgender Adresse gewartet: <%= resource.try(:unconfirmed_email) %></div>
  <% end %>

  <div class="pure-control-group"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="pure-control-group"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div class="pure-control-group"><%= f.label :birthday %>
  <%= f.date_field :birthday %></div>

  <div class="pure-control-group"><%= f.label :sex %>
  <%= f.select :sex, [["männlich", "m"], ["weiblich", "w"]] %></div>

  <div class="pure-control-group"><%= f.label :street %>
  <%= f.text_field :street %></div>

  <div class="pure-control-group"><%= f.label :zip %>
  <%= f.text_field :zip, style: "width: 100px;", pattern: "[0-9]{5}" %> <%= f.text_field :city %></div>

  <div class="pure-control-group"><%= f.label :student %>
  <%= f.select :student, [["ja", true], ["nein", false]] %></div>

  <div class="pure-control-group"><%= f.label :university %>
  <%= f.text_field :university, :required => :required %> </div>

  <div class="pure-control-group"><%= f.label :council %>
  <%= f.text_field :council %> </div>

  <div class="pure-control-group"><%= f.label :mobile %>
  <%= f.phone_field :mobile %> </div>
</fieldset>
<fieldset>
 <div class="pure-control-group"><%= f.label :current_password %>
 <%= f.password_field :current_password %> <small>(bitte aktuelles Kennwort zum Ändern der Daten eingeben)</small></div>
</fieldset>
</div>

  <div class="pure-control-group"><%= f.submit "Informationen speichern", class: "pure-button pure-button-primary" %></div>
<% end %>
<br><br>
<hr>
<p><i>Möchtest du dich vom Konferenz-Service abmelden?</i> <%= button_to "Benutzerregistrierung komplett entfernen", user_registration_path, :data => { :confirm => "Bist du dir sicher?\nEine Teilnahme an der Konferenz und an Workshops ist ohne Registrierung nicht möglich." }, :method => :delete, :class => "pure-button pure-button-warning" %></p>



<script>
$(document).ready(function(){
	$("a.toggle").click(function(e){
		$("#personal, #preferences, #workshops, #payment, #food").hide();
		$($(this).attr("href")).show();
		e.preventDefault();
	});
});
</script>