<% if Setting.get("disable sign up") %>
	<h2>Registrieren nicht möglich</h2>
	<p>
		Aufgrund einer hohen Zahl an Anmeldungen in den letzten Tagen, haben wir uns dazu entschlossen, die Neuanmeldung zu deaktivieren.
	</p>

<% else %>
	<h2>Registrieren</h2>

	<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:class => "pure-form pure-form-aligned"}) do |f| %>
	  <%= devise_error_messages! %>

	 <fieldset>
	  <div class="pure-control-group"><%= f.label :firstname %>
	  <%= f.text_field :firstname, :autofocus => true, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :lastname %>
	  <%= f.text_field :lastname, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :email %>
	  <%= f.email_field :email, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :password %>
	  <%= f.password_field :password, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :birthday %>
	  <%= f.date_field :birthday, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :sex %>
	  <%= f.select :sex, [["männlich", "m"], ["weiblich", "w"]] %></div>

	  <div class="pure-control-group"><%= f.label :street, "Straße/Hausnr." %>
	  <%= f.text_field :street, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :zip, "PLZ/Ort" %>
	  <%= f.text_field :zip, :required => :required, style: "width: 100px;", pattern: "[0-9]{5}" %> <%= f.text_field :city, :required => :required %></div>

	  <div class="pure-control-group"><%= f.label :student %>
	  <%= f.select :student, [["ja", true], ["nein", false]] %></div>

	  <div class="pure-control-group"><%= f.label :university %>
	  <%= f.text_field :university, :required => :required %> </div>

	  <div class="pure-control-group"><%= f.label :council %>
	  <%= f.text_field :council, :required => :required %> </div>

	  <div class="pure-control-group"><%= f.label :mobile %>
	  <%= f.phone_field :mobile %> </div>
	 </fieldset>

	  <div class="pure-control-group"><%= f.submit "Registrieren", class: "pure-button pure-button-primary" %></div>
	<% end %>

<% end %>

<%= render "devise/shared/links" %>
