<h2>Kennwort ändern</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "pure-form pure-form-stacked"}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
<fieldset>
  <div><%= f.label :password, "Neues Kennwort" %>
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Neues Kennwort bestätigen" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Mein Kennwort ändern", class: "pure-button pure-button-primary" %></div>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>
