<h2>Kennwort vergessen?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "pure-form pure-form-stacked" }) do |f| %>
  <%= devise_error_messages! %>
<fieldset>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, class: "pure-u-1-3" %></div>

  <div><%= f.submit "Anweisungen zum Zurücksetzen des Kennworts schicken", class: "pure-button pure-button-primary" %></div>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>
