<%= form_for(@event, html: {class: "pure-form pure-form-aligned"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="pure-control-group">
    <%= f.label :speakers %>
    <%= f.select :speaker_id, Speaker.all.map {|s| [s.name, s.id]}, include_blank: true %><br><small>(Für mehrere Workshopleiter Workshop bitte im <%= link_to "Admin", rails_admin.index_path('event') %> anlegen/bearbeiten.)</small>
  </div>

  <div class="pure-control-group">
    <%= f.label :timeslot %>
    <%= f.select :timeslot_id, Timeslot.all.map {|s| [s.name, s.id]}, include_blank: false %>
  </div>
  <!-- <div class="pure-control-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="pure-control-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div> -->
  <div class="pure-control-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="pure-control-group">
    <%= f.label :image_url %>
    <%= f.url_field :image_url %>
  </div>
  <div class="pure-control-group">
    <%= f.label :location %>
    <%= f.text_area :location %>
  </div>
  <div class="pure-control-group">
    <%= f.label :location_url %>
    <%= f.url_field :location_url %>
  </div>
  <div class="actions">
    <%= f.submit class: "pure-button pure-button-primary" %>
  </div>
<% end %>
