<h1>Events/Workshops <small>(<%= @events.count %>)</small></h1>

<table class="pure-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Timeslot</th>
      <th>Beschreibung</th>
      <th>Ort</th>
      <% if current_user.try(:admin) %>
		<th></th>
      	<th></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.image_url, size: "50x50" unless event.image_url.blank? %></td>
        <td><%= link_to event.name, event %></td>
        <td><%= event.timeslot.try(:name) %><br><small>(<%= l event.timeslot.start_time, format: :short %> bis <%= l event.timeslot.end_time, format: :short %>)</small></td>
        <td><%= truncate(event.description, length: 100) %></td>
        <td><%= event.location %></td>
		<% if current_user.try(:admin) %>
        	<td><%= link_to 'Ändern', edit_event_path(event), class: "pure-button"  %></td>
        	<td><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button pure-button-warning" %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Event / neuen Workshop eintragen', new_event_path, class: "pure-button pure-button-primary" if current_user.try(:admin) %>
