<h1><%= @event.name %></h1>
<% unless @event.image_url.blank? %><p><%= image_tag @event.image_url %></p> <% end %>

<%= simple_format @event.description %>

<p>
  <strong>Timeslot:</strong>
  <%= @event.timeslot.name %><br>
  <%= l @event.timeslot.start_time, format: :short %> - <%= l @event.timeslot.end_time, format: :short %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to h(@event.location), (@event.location_url.blank? ? "http://www.google.de/maps?q=#{URI::escape(@event.location + ", Paderborn")}" : @event.location_url), target: "_blank" %>
</p>

<% if @reg %>

	<p style="color:green;">Du bist für diesen Workshop angemeldet. (Priorität <%= @reg.priority %>)</p>
	
	<%= button_to "Anmeldung stornieren", @reg, method: :delete, class: "pure-button pure-button-xsmall pure-button-warning" %>

<% else %>

	<%= form_for Registration.new, :html => { :class => "pure-form pure-form-aligned" } do |form| %>
		<%= form.hidden_field :event_id, value: @event.id %>
			<div class="pure-control-group"><label for="registration_priority">Priorität <i>(1=hoch)</i>:</label> <%= form.select :priority, @available_prios %></div>
			 <div class="pure-control-group"><%= form.submit "Für diesen Workshop anmelden!", class: "pure-button pure-button-primary" %></div>
	<% end %>

<% end %>

<% other_events = Event.where(timeslot_id: @event.timeslot.id).where.not(id: @event.id)
if other_events.any?
%>
<p><i>Andere Workshops während <%= @event.timeslot.name %>:</i></p>
<ul>
	<% other_events.each do |event| %>
		<li><%= link_to event.name, event %>
		<% if user_signed_in? && cur_reg = current_user.registrations.where(event_id: event.id).first %>
			<%= " (angemeldet, Prio " + cur_reg.priority.to_s + ")" %>
		<% end %>
		</li>
	<% end %>
</ul>
<% else %>
<p><i><small>Dies ist das einzige Event, was in diesem Timeslot stattfindet.</small></i></p>
<% end %>

<% if current_user.try(:admin) %><%= link_to 'Edit', edit_event_path(@event) %> |<% end %>
<%= link_to 'Zurück', events_path %>
