<h2>Einloggen</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "pure-form pure-form-stacked"}) do |f| %>
<fieldset>
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <label class="pure-checkbox" for="user_remember_me">
	<%= f.check_box :remember_me %> Eingeloggt bleiben</label>
  <% end -%>

  <%= f.submit "Einloggen!", class: "pure-button pure-button-primary" %>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>
<br>
	<div class="well">
		<h3>Teilnahme an Workshops</h3>
	<p>Die Ziele der BuFaK WiSo können nur durch eine aktive Beteiligung aller Teilnehmenden erreicht werden. Dazu gehören Anwesenheit und Mitwirkung an den Diskussionen in den Plena. Eine Vorbereitung für das Gelingen der BuFaK ist von großer Bedeutung.
	Eine Anwesenheit in allen Workshops ist verpflichtend. Darüber hinaus gibt es mindestens ein Pflicht-Barcamp. Die Anwesenheit wird durch die Workshopleitung festgehalten und dem Orga-Team übermittelt. Wer nicht an allen Pflichtveranstaltungen teilnimmt, muss eine Strafe zahlen und erhält an Stelle der Teilnahmebestätigung eine Information über Nichtteilnahme. Diese wird auch an die entsendende Fachschaft verschickt. Die Strafe beläuft sich auf 30 Euro je nicht besuchter Pflichtveranstaltung. Bei Nichtzahlung wird die Person von zukünftigen Konferenzen ausgeschlossen. Auf Antrag kann das Plenum einen Ausschluss widerrufen. Befreiungen von der Anwesenheitspflicht können von der ausrichtenden Fachschaft oder dem BuFaK-Rat erteilt werden.
	</p>
	</div>
