<table align="center" border="0" cellspacing="0" cellpadding="0" style="font-family:HelveticaNeue,Helvetica,Arial,sans-serif;width:850px;">
  <tr>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/utop_l.png) no-repeat; width:20px; height:20px;"></td>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/utop_c.png) repeat-x; height:20px;">&nbsp;</td>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/utop_r.png) no-repeat; width:20px; height:20px;"></td>
  </tr>
        <tr>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/top_l.png) repeat-y; width:20px;"></td>
                <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/top.png) repeat; height:120px;"><table style="font-size:26px;font-weight:bold;color:#0E2F6D;">
                        <tr>
                                <td><span style="padding-left:5px;">BundesFachschaftenKonferenz 2013</span><br /><img src="http://www.fsrwinfo.de/BuFaK/Newsletter/BuFaK_town.png"/>
        <!--<b>BundesFachschaftenKonferenz</b> Paderborn<br /><br />--></td>
                                <td style="text-align:right;"><img style="float:right; padding:0 50px 6px 180px;" src="http://www.fsrwinfo.de/BuFaK/Newsletter/BuFaK_header.png"/></td>
                        </tr>
                </table></td>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/top_r.png) repeat-y; width:20px;"></td>
        </tr>
  <tr>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/ltop_l.png) no-repeat; width:20px; height:20px;"></td>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/ltop_c.png) repeat-x; height:20px;">&nbsp;</td>
    <td style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/ltop_r.png) no-repeat; width:20px; height:20px;"></td>
  </tr>
        <tr>
    <td></td>
                <td style="height:300px;padding:30px 0 50px 0;" colspan="3">
<p>Hallo <%= @email %>!</p>
<p><b>Wilkommen auf der Bundesfachschaftenkonferenz WiSo in Paderborn!</b><br>
<p>Bitte best&auml;tige dein Benutzerkonto bei uns mit Hilfe des folgenden Links:</p>
<p><b><%= link_to 'Benutzerkonto best&auml;tigen'.html_safe, confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></b></p>
<p>Die Teilnahme an der Bundesfachschaftenkonferenz erfordert einen <b>Teilnehmerbeitrag</b> <br>
in H&ouml;he von 70&euro;. Dieser setzt sich zusammen aus einer Teilnehmergeb&uuml;hr in H&ouml;he <br>
von 50&euro;, welchen die ausrichtende Fachschaft zur Finanzierung der BuFaK erh&auml;lt <br>
und 20&euro; Ratsbeitrag, welcher an den BuFaK-Rat weitergeleitet wird, um die repr&auml;sentativen <br>
Pflichten von selbigem zu erm&ouml;glichen.</p>
<p>Bitte &uuml;berweis den Betrag bis zum 8. November auf folgendes Konto:<p>
<p>Kontoinhaber: HG Winfo<br>
Kontonummer: 8837961601<br>
Bankleitzahl: 47260121<br>
Volksbank Paderborn-H&ouml;xter-Detmold eG<br>
IBAN: DE06 4726 0121 8837 9616 01<br>
BIC: DGPBDE3M<br><br>
Als Referenz gebt ihr bitte euren <b>Nachnamen</b>, <b>Vornamen</b> und eure <b>E-Mailadresse</b> an.</p>
<p>Die Anmeldung f&uuml;r die Workshops wird auch hier&uuml;ber <br>
erledigt und kann voraussichtlich ab Mitte Oktober erfolgen.<br>
 Sobald alle Workshops in das System eingepflegt sind, werden wir an alle <br>
Nutzer eine E-Mail schicken, welche den genauen Termin zur Workshopanmeldung bekannt gibt.</p>
<p>Viele Gr&uuml;ße<br>
Euer BuFaK-Paderborn-Team
</p>
<p><small><a href="http://www.bufak-paderborn.de">www.bufak-paderborn.de</a></small></p>
</body>
</html>
        </tr>
  <tr style="background:url(http://www.fsrwinfo.de/BuFaK/Newsletter/bottom.png) no-repeat;">
    <td colspan="3"><br/ ><br />
                        <table style="padding: 0 12px;">
                                <tr style="color:#dbdbdb;font-size:12px;">
                                        <td style="width:270px;">Nikolai Rodehutskors<br />Hauptorganisator<br /><a style="color:#dbdbdb;text-decoration:none;" href="tel:+4915146518652">Tel.: 0151 / 465 186 52</a><br /><a style="color:#dbdbdb;text-decoration:none;" href="mailto:n.rodehutskors@fsrwinfo.de">n.rodehutskors@fsrwinfo.de</a></td>
                                        <td style="width:290px;">BuFaK Paderborn<br />c/o Hochschulgruppe Wirtschaftsinformatik e.V.<br />C2.320<br />33098 Paderborn</td>
          <td style="width:250px;"><center>Ausgerichtet durch<br /><img style="padding-top:4px;" src="http://www.fsrwinfo.de/BuFaK/Newsletter/winfo_logo.png"/>
                                                                       <img style="padding-top:4px;" src="http://www.fsrwinfo.de/BuFaK/Newsletter/wiwi_logo.png"/></center></td>
                                </tr>
                        </table><br /><br />
                </td>
  </tr>
</table>