<p>Hallo <%= @resource.email %>!</p>

<p>Mit Hilfe des folgenden Links kannst du dein Kennwort neu wählen.</p>

<p><%= link_to 'Kennwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>(If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.)</p>
