<h1>Speakers#new</h1>

<%= @speaker.errors.full_messages %>

<%= form_for @speaker do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %><br>

 <%= f.label :email %>
 <%= f.email_field :email %><br>

 <%= f.label :homepage %>
 <%= f.url_field :homepage %>   <br>
 <%= f.submit %>
<% end %>
